<head>
  <title>Tiny App</title>
</head>
<h1>Tiny App</h1>
<style>
  form {
    display: inline
  }
</style>
<a href="/urls">My URLS</a> | <a href="/urls/new">New Link</a> | 
<% if (user) { %>
<span> &nbsp &nbsp &nbsp &nbsp &nbsp Welcome <strong><%- user.email %></strong> : <form action="/logout" method="POST" style="display:inline"><input type="submit" value="Logout"></form></span>
<% } else { %> 
<a href="./login">Login</a> | <a href="./register">Register</a> <% } %>

<hr style="clear: right;">
 
