<head>
  <title>Tiny App</title>
</head>
<h1>Tiny App</h1>

<a href="/urls">My URLS</a> : <a href="/urls/new">New Link</a>
<form action="/login" method="POST" style="margin:150px;">
      <label for="username" style="display: inline">Username:</label>
      <input id="username" type="text" name="username" style="width: 100px display: inline">
      <input type="submit" value="Submit">
    </form>