<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <%- include('partials/_header') %>
    <!-- Add your EJS code here -->
    <div>
      <p><%= short %> : <a href="<%= long %>"><%= long %></a></p>

    <a href="/urls/new">Click here</a> to add a new shortened link!
</body>
</html>