<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <div>
      <p><%= short %> : <%= long %></p>

    <a href="#">Click here</a> to add a new shortened link!
</body>
</html>